<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>
              Hi I'm <strong>Dilli Raj Chalise</strong>, Welcome to my personal
              website.
            </p>
            <p class="text-justify">
              Experienced Full-stack Software Developer with a demonstrated
              history of working in the information technology and services
              industry. Skilled in Object-Oriented Programming (OOP),
              Javascript: React JS, Node JS. Strong engineering professional
              with a Bachelor's degree education focused in Computer Engineering
              fromKathmandu Engineering College. .
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">Feb 04, 1996</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">dillichalise@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+977 9841463272</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">
                Banganga-04, Kapilvastu, Lumbini State, Nepal
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Nepali, English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
